<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Unemployment</title>
    <link rel="stylesheet" href="../static/css/common.css" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/profile.css" />
  </head>

  <body>
    <!-- SIDEBAR -->
    <div id="sidebar-element" class="sidebar">
      <img class="sidebar-close" src="../static/images/close.png" alt="close" />
      <img class="sidebar-logo" src="../static/images/logo.png" alt="logo" />
      <ul>
        <li onclick="location.href = `./index.html`">
          <img src="../static/images/house.png" alt="house" />
          Get Started
        </li>
        <li onclick="location.href = `./discover.html`">
          <img src="../static/images/magnifying-glass.png" alt="house" />
          Discover
        </li>
        <li onclick="location.href = `./profile.html`">
          <img src="../static/images/user.png" alt="house" />
          Profile
        </li>
        <li onclick="location.href = `./login.html`">
          <img src="../static/images/logout.png" alt="house" />
          Logout
        </li>
      </ul>
    </div>

    <!-- MAIN -->
    <main>
      <div class="navbar">
        <img
          id="burger-icon"
          src="../static/images/burger.png"
          alt="burger-menu"
          class="mobile-burger"
        />
        <h3>Profile</h3>
        <button
          onclick="location.href = `./profile.html`"
          class="button button-blue"
        >
          Profile
        </button>
      </div>
      <div class="content">
        <h1>Sami's profile</h1>
        <div class="container-subscription">
          <h4>Your application is on the free plan</h4>
          <p>
            Paid plans offer unlimited access to the platform, after your demo
            you can try it.
          </p>
          <p>Your plan will expire in <b>6 days</b>.</p>
          <button class="button button-white">Upgrade</button>
        </div>
        <ul class="tabs-headers">
          <button id="btn-tab-one" class="button button-blue">
            Personal information
          </button>
          <button id="btn-tab-two" class="button button-blue">
            Subscription
          </button>
          <button id="btn-tab-three" class="button button-blue">
            Change password
          </button>
        </ul>
        <div class="container-tabs">
          <div class="tab tab-one">
            <form>
              <div class="form-group">
                <label for="first-name">First name</label>
                <input
                  type="text"
                  name="first-name"
                  value="Sami"
                  id="first-name"
                />
              </div>
              <div class="form-group">
                <label for="last-name">Last name</label>
                <input
                  type="text"
                  name="last-name"
                  value="Sami"
                  id="last-name"
                />
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input
                  type="email"
                  name="email"
                  value="sami@gmail.com"
                  id="email"
                />
              </div>
              <button class="button button-blue">Save</button>
            </form>
          </div>
          <div class="tab tab-two">
            <p>Plan: Free</p>
            <p>Start date: 01/01/2021</p>
            <p>End date: 01/01/2021</p>
            <p>Payment method: Credit card</p>
            <p>Card holder: Sami Sami</p>
          </div>
          <div class="tab tab-three container-password">
            <form>
              <p>Enter your current password and the new one.</p>
              <div class="form-group">
                <label for="current-password">Current password</label>
                <input
                  type="password"
                  name="current-password"
                  id="current-password"
                />
              </div>
              <div class="form-group">
                <label for="new-password">New password</label>
                <input type="password" name="new-password" id="new-password" />
              </div>
              <div class="form-group">
                <label for="confirm-password">Confirm password</label>
                <input
                  type="password"
                  name="confirm-password"
                  id="confirm-password"
                />
              </div>
              <button class="button button-blue">Change password</button>
            </form>
          </div>
        </div>
      </div>
    </main>

    <script src="../static/js/main.js"></script>
    <script src="../static/js/profile.js"></script>
  </body>
</html>
