@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&display=swap');

:root {
    --color-primary: white;
    --color-secondary: #f1f1f1;
    --color-tertiary: rgb(60, 174, 230, 1);
    --color-quaternary: rgb(54, 159, 211);
}

* {
    box-sizing: border-box;
    font-size: 1.2rem;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-secondary);
    display: flex;
    height: 100vh;
}


.button {
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 2px 2px 3px #cecdcd;
    font-weight: 100;
    transition: 0.5s;
}

.button-blue { 
    background-color: var(--color-tertiary);
}

.button-blue:hover{
    background-color: var(--color-quaternary);
    transition: 0.5s;
}

.button-white {
    background-color: var(--color-primary);
    color: var(--color-tertiary);
    transition: 0.5s;
}

.button-white:hover{
    transform: scale(1.05);
    transition: 0.5s;
}

form {
    margin: 30px;
    width: 80%;
}

input {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

input:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: 0 0 6px rgba(102, 175, 233, 0.6);
}

select {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    color: #555;
    display: block;
    font-size: 1rem;
    height: 40px;
    line-height: 1.4;
    padding: 6px 12px;
    width: 100%;
    margin-top: 10px;
}

select:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: 0 0 6px rgba(102, 175, 233, 0.6);
}

option {
    color: #555;
    display: block;
    font-size: 1rem;
    height: 40px;
    line-height: 1.4;
    padding: 6px 12px;
    transition: 0.5;
    width: 100%;
}

input[type="month"] {
    margin: 1rem 0;
    font-size: 1rem;
}

label {
    color: #333;
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 700;
}

.form-group {
    margin-bottom: 15px;
}

.hidden {
    display: none;
}